h1{
    background-color: blueviolet;
}

form{
    width: 500px;
    height: 200px;
    box-shadow: 5px 5px 5px grey;
    display: inline-block;
}

div{
    width: 400px;
    background-color: cadetblue;
    text-align: center;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-shadow: 5px 5px 5px grey;
    display: block;
    /* text-align: center; */
}